/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 100;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v6/RlBXAIuiO5GvH9-0-JbBlw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 100;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v6/4hYyXH_8WmbBLamf6WjLwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body {
    display: flex;
    -webkit-display: it-box; /*For Safari */
    justify-content: center;
    -webkit-box-pack:center; /*For Safari */
    align-items: center;
    -webkit-box-align:center; /*For Safari */
    background: url("../img/bg_tokyo.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Dosis, sans-serif;
    margin: 0px;
    color: rgb(119, 25, 33);
    text-align: center;
}
.widget{
  display: flex;
  display: -webkit-box; /*For Safari */
  flex-direction: column;
  -webkit-box-orient: vertical; /*For Safari */
  height: 800px;
}
.widget_left-side {
    background-image: url(../img/div_tokyo.jpg);
    height: 100%;
    display: flex;
    display: -webkit-box; /*For Safari */
    flex-direction: column;
    -webkit-box-orient: vertical; /*For Safari */
    border: 1px solid rgba(46, 28, 37, 0.89);
    box-sizing: border-box;
}
.widget_left-side--sun-wrapper {
    height: 241px;
    background: url(../img/icons/sun_white.png) center center no-repeat;
}
.widget_left-side--rect-brown {
    background-color: rgba(46, 28, 37, 0.89);
    height: 71px;
    font-size: 34px;
    color: rgb(255, 255, 255);
    line-height: 1.333;
    padding-top: 23px;
}
.widget_left-side--rect-red {
    background-color: rgba(119, 25, 33, 0.89);
    width: 290px;
    height: 74px;
    font-size: 21px;
    word-spacing: 1px;
    color: rgb(255, 255, 255);
    line-height: 2.182;
    padding-top: 29px;
}
.widget_right-side {
    background-color: white;
    box-sizing: border-box;
    flex-direction: column;
    -webkit-box-orient: vertical; /*For Safari */

    padding: 12px 40px 40px;
}
.widget_right-side--temperature {
    font-size: 100px;
    font-weight: 200;
}
.widget_right-side--graph {
  padding-top: 8px;
  padding-bottom: 16px;
  margin-top: 4px;
  margin-bottom: 7px;
  border-bottom: 1px solid rgb(119, 25, 33);
  border-top: 1px solid rgb(119, 25, 33);
}
.widget_right-side--future-temperature {
    display: flex;
    display: -webkit-box; /*For Safari */
    justify-content: space-around;
    -webkit-box-pack:justify; /*For Safari */
    padding-left: 1px;
    list-style-type: none;
}
.widget_right-side--day {
    margin-top: 5px;
    width: 50px;
}
.widget_right-side--sun {
    height: 40px;
    background: url(../img/icons/css_sprites.png) -75px -10px;
}
.widget_right-side--week {
    padding-bottom: 12px;
    padding-top: 12px;
    border-bottom: 1px solid rgb(119, 25, 33);
}
.widget_right-side--morning-temperature {
    padding-top: 12px;
    word-spacing: -2px;
}
.widget_right-side--evening-temperature {
    padding-top: 8px;
    word-spacing: -2px;
    color: black;
}
.widget_right-side--sun-and-cloud {
    height: 40px;
    background: url(../img/icons/css_sprites.png) -10px -10px;
}
@media (min-width:700px) {
  .widget {
    display: flex;
    display: -webkit-box; /*For Safari */
    flex-direction: row;
    -webkit-box-orient: horizontal; /*For Safari */
    height: 438px;
  }
}
