@@font-face {
  font-family: 'Dosis', sans-serif;
  src: url("../fonts/dosisextralight.ttf"),
       url("../fonts/dosisextralight.woff");
}

body{
  background-image: url("../img/bg_tokyo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  position: relative;
  top:73px;
  left: 102px;
  z-index: 0;
}
#rect_red{
  background-color: rgb(119, 25, 33);
  opacity: 0.89;
  position: absolute;
  left: 111px;
  top: 415px;
  width: 290px;
  height: 104px;
  z-index: 100;
}
#rect_brown{
  background-color: rgb(46, 28, 37);
  opacity: 0.89;
  position: absolute;
  left: 111px;
  top: 323px;
  width: 290px;
  height: 94px;
  z-index: 100;
}
.rect{
  width:290px;
  height: 50px;
  opacity: 0.7;
}
.sunny {
  font-size: 34px;
  font-weight: 200;
  font-family: 'Dosis', sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.333;
  text-align: center;
  position: absolute;
  left: 101px;
  top: 23px;
  width: 82px;
  height: 34px;
  z-index: 270;
}
.tokyo_wen{
  font-size: 17px;
  font-weight: 200;
  font-family: 'Dosis', sans-serif;
  color: rgb(255, 255, 255);
  line-height: 2.182;
  position: absolute;
  left: 31px;
  top: 33px;
  width: 220px;
  height: 23px;
  z-index: 28;
}
.temperature{
  font-size: 101px;
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  font-style: normal;
  color: rgb(119, 25, 33);
  line-height: 0.178;
  text-align: center;
  position: absolute;
  left: 433px;
  top: 150px;
  width: 204px;
  height: 78px;
  z-index: 29;
}
