/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 100;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v6/RlBXAIuiO5GvH9-0-JbBlw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 100;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v6/4hYyXH_8WmbBLamf6WjLwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body{
  background-image: url("../img/bg_tokyo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.widget {
  background-image: url("../img/div_tokyo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top:73px;
  left: 102px;
  z-index: 0;
  width: 580px;
  height: 440px;
}
.left-side{
  width: 50%;
  float: left;
}
.right-side{
  width: 50%;
  float: right;
}
.sun_wrapper{
  height: 243px;
}
.sun_white{
  margin: 43px 75px;
}
#rect_brown{
  background-color: rgb(46, 28, 37);
  opacity: 0.89;
  margin-left: 0;
  margin-top: 0;
  width: 290px;
  height: 73px;
}
#rect_red{
  background-color: rgb(119, 25, 33);
  opacity: 0.89;
  margin-left: 0;
  margin-top: 0;
  width: 290px;
  height: 74px;
}
.sunny {
  font-size: 34px;
  font-family: 'Dosis', sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.333;
  text-align: center;
  vertical-align: middle;
  padding-top: 21px;
}
.tokyo_wen{
  font-size: 21px;
  word-spacing: 1px;
  letter-spacing: 0px;
  font-family: 'Dosis', sans-serif;
  color: rgb(255, 255, 255);
  line-height: 2.182;
  text-align: center;
  vertical-align: middle;
  padding-top: 29px;
}
.temperature{
  font-size: 101px;
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  font-style: normal;
  color: rgb(119, 25, 33);
  text-align: center;
  margin-top: 14px;
}

.icon{
	background: url(../img/icons/sprites.png) no-repeat;
}
