/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 100;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v6/RlBXAIuiO5GvH9-0-JbBlw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 100;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v6/4hYyXH_8WmbBLamf6WjLwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body{
  position: relative;
  background: url("../img/bg_tokyo.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 5% auto;
  font-family: 'Dosis', sans-serif;
  color: rgb(119, 25, 33);
  text-align: center;
}
.widget{
  position: absolute;
  display: grid;
  left:0;
  top:0;
  -ms-grid-rows: 100%; /*for IE;*/
  -ms-grid-columns: 50% 50%; /*for IE;*/
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
}
.widget_left-side{
  background-image: url("../img/div_tokyo.jpg");
  -ms-grid-column:1; /*for IE*/
  grid-column-start: 1;
  width: 290px;
  height: 438px;
  border: 1px solid rgba(46, 28, 37, 0.89);
  box-sizing: border-box;
}
.widget_right-side{
  background-color: white;
  -ms-grid-column: 2; /*for IE*/
  grid-column-start: 2;
  width: 290px;
  height: 100%;
  padding: 12px 40px 40px 40px;
  box-sizing: border-box;
  height: 438px;
}
.widget_left-side--sun-wrapper{
  height: 241px;
  background: url(../img/icons/sun_white.png) center no-repeat;
}
.widget_left-side--rect-brown{
  background-color: rgba(46, 28, 37, 0.89);
  height: 71px;
  font-size: 34px;
  color: rgb(255, 255, 255);
  line-height: 1.333;
  padding-top: 23px;
}
.widget_left-side--rect-red{
  background-color: rgba(119, 25, 33, 0.89);
  height: 74px;
  font-size: 21px;
  word-spacing: 1px;
  color: rgb(255, 255, 255);
  line-height: 2.182;
  padding-top: 29px;
}
.widget_right-side--temperature{
  font-size: 100px;
  font-weight: 200;
}
.widget_right-side--graph{
  padding-top: 16px;
  padding-bottom: 11px;
  border-bottom: 1px solid rgb(119, 25, 33);
  border-top: 1px solid rgb(119, 25, 33);
}
.widget_right-side--future-temperature{
  list-style: none;
  padding: 0;
  display: grid;
  -ms-grid-rows:  100%; /*for IE;*/
  -ms-grid-columns: 33% 33% 33%; /*for IE;*/
  grid-template-rows: 100%;
  grid-template-columns: 33% 33% 33%;
}
.widget_right-side--icon{
	background: url("../img/icons/css_sprites.png") no-repeat;
  display: inline-block;
}
.widget_right-side--sun {
    width: 40px; height: 40px;
    background: url('../img/icons/css_sprites.png') -75px -10px;
}
.widget_right-side--sun-and-cloud {
    width: 45px; height: 40px;
    background: url('../img/icons/css_sprites.png') -10px -10px;
}
.widget_right-side--day{
  margin-top: 5px;
  width: 50px;
}
.widget_right-side--day1{
  grid-column-start: 1;
  -ms-grid-column: 1; /*for IE*/
}
.widget_right-side--day2{
  grid-column-start: 2;
  -ms-grid-column: 2; /*for IE*/
}
.widget_right-side--day3{
  grid-column-start: 3;
  -ms-grid-column: 3; /*for IE*/
}
.widget_right-side--week{
  border-bottom: 1px solid rgb(119, 25, 33);
  padding-bottom: 12px;
  padding-top: 12px
}
.widget_right-side--morning-temperature{
  padding-top: 12px;
  word-spacing: -2px;
}
.widget_right-side--evening-temperature{
  padding-top: 8px;
  word-spacing: -2px;
  color: black;
}
@media (min-width:780px){
  .widget {
    display: grid;
    -ms-grid-columns: 50% 50%; //for IE
    -ms-grid-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    left: 27%;
    height: 440px;
    width: 580px;
  }
  .widget_left-side{
    grid-column-start: 1;
    -ms-grid-column: 1; /*for IE*/

  }
  .widget_right-side{
    grid-column-start: 2;
    -ms-grid-column: 2; /*for IE*/
  }
}
