/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 100;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v6/RlBXAIuiO5GvH9-0-JbBlw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 100;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v6/4hYyXH_8WmbBLamf6WjLwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
html{
  height: 100%;
}
body{
  background: url("../img/bg_tokyo.jpg") no-repeat center center fixed;
  background-size: cover;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  height: 100%;
  margin: 0;
  font-family: 'Dosis', sans-serif;
}
.widget {
  background-repeat: no-repeat;
  background-size: cover;
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 2;
  width: 580px;
  height: 440px;
}
.widget_left-side{
  background-image: url("../img/div_tokyo.jpg");
}
.widget_right-side{
  background-color: white;
  height: 100%;
  padding: 12px 40px 40px 40px;
  box-sizing: border-box;
}
.widget_left-side--sun-wrapper{
  height: 241px;
  background: url(../img/icons/sun_white.png) center no-repeat;
}
.widget_left-side--rect-brown{
  background-color: rgba(46, 28, 37, 0.89);
  margin-left: 0;
  margin-top: 0;
  width: 290px;
  height: 71px;
  font-size: 34px;
  color: rgb(255, 255, 255);
  line-height: 1.333;
  text-align: center;
  vertical-align: middle;
  padding-top: 23px;
}
.widget_left-side--rect-red{
  background-color: rgba(119, 25, 33, 0.89);
  margin-left: 0;
  margin-top: 0;
  width: 290px;
  height: 74px;
  font-size: 21px;
  word-spacing: 1px;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
  line-height: 2.182;
  text-align: center;
  vertical-align: middle;
  padding-top: 29px;
}
.widget_right-side--temperature{
  font-size: 100px;
  font-weight: 200;
  font-style: normal;
  color: rgb(119, 25, 33);
}
.widget_right-side--graph{
  padding-top: 16px;
  padding-bottom: 11px;
  margin-top: 0px;
  border-bottom: 1px solid rgb(119, 25, 33);
  border-top: 1px solid rgb(119, 25, 33);
}
.widget_right-side--future-temperature{
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 33% 33% 33%;
}
.widget_right-side--icon{
	background: url("../img/icons/css_sprites.png") no-repeat;
  display: inline-block;
}
.widget_right-side--sun {
    width: 40px; height: 40px;
    background: url('../img/icons/css_sprites.png') -75px -10px;
}
.widget_right-side--sun-and-cloud {
    width: 45px; height: 40px;
    background: url('../img/icons/css_sprites.png') -10px -10px;
}
.widget_right-side--day{
  text-align: center;
  margin-top: 5px;
  color: rgb(119, 25, 33);
  width: 50px;
  margin-right: 30px;
}
 .widget_right-side--day1{
   grid-row-start: 1;
   grid-column-start: 1;
 }
 .widget_right-side--day2{
   grid-row-start: 1;
   grid-column-start: 2;
 }
 .widget_right-side--day3{
   grid-row-start: 1;
   grid-column-start: 3;
 }
.widget_right-side--day:last-child{
  margin-right: 0;
}
.widget_right-side--week{
  border-bottom: 1px solid rgb(119, 25, 33);
  padding-bottom: 12px;
  padding-top: 12px
}
.widget_right-side--morning-temperature{
  padding-top: 12px;
  word-spacing: -2px;
}
.widget_right-side--evening-temperature{
  padding-top: 8px;
  word-spacing: -2px;
  color: black;
}
@media (max-width:700px){
  .widget_left-side{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
  }
  .widget_right-side{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
  }
}
